@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

.app {
  font-family: 'Inter', sans-serif;
}

.app-wrapper {
  display: grid;
  grid-template:
    [start] "side profile" minmax(600px, max-content) [row-end] / 250px 900px;
  grid-gap: 15px;
  background-color: #2f3136;
  height: 92.2vh;
  justify-content: center;
  padding-top: 25px;
}

.app-wrapper-content {
    background-color: #36393f;
    grid-area: profile;
    border-radius: 8px;
    color: white;
}
