.app-wrapper {
  display: grid;
  grid-template:
   [start] "header header" 55px [row2]
   [row2]  "side content" 800px [row-end] / 1fr 5fr;
   grid-gap: 15px;
   background-color: gray;
   height: 1080px;
}