.block {
    background-color: #36393f;
    grid-area: header;
    display: flex;
    color: white;
}

.logo {
    display: flex;
    margin-left: 19.6%;
}

.brand {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 24px;
}
