.block {
    background-color: #36393f;
    grid-area: header;
    display: flex;
    color: white;
}

.logo {
    display: flex;
}

.brand {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 24px;
}

.wrap {
    width: 1150px;
    margin: 0 auto;
}
