.list {
    background-color: #36393f;
    grid-area: side;
    padding: 30px 30px;
    border-radius: 8px;
    color: white;
    list-style: none;
    margin: 0;
}

.item {
    color: #a7a7a7;
    padding: 5px;
}

.item a {
    text-decoration: none;

}

.active {
    color: rgb(255, 255, 255);
    padding: 5px;
}