input,button,textarea{font-family:inherit;}

.block {
    padding-top: 10px;
}

input {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #36393f;
    border: 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 15px;
    height: 35px;
    width: 100%;
}